@import '../variables.css';

.default {
  color: var(--_sleetch-color-text);
  background-color: var(--_sleetch-color-card);
  border-radius: var(--_sleetch-radius);
  padding: 3px 10px;

  font-family: var(--_sleetch-font-base);
  border: 1px solid var(--_sleetch-color-muted);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition:
    background-color var(--_sleetch-transition-duration) var(--_sleetch-transition-timing),
    border-color var(--_sleetch-transition-duration) var(--_sleetch-transition-timing);
}

.default:hover {
  background-color: var(--_sleetch-color-muted);
  border-color: var(--_sleetch-color-text-underline);
}

.secondary {
  color: var(--_sleetch-color-background);
  background-color: var(--_sleetch-color-text-primary);
  border-radius: var(--_sleetch-radius);
  padding: 3px 10px;

  font-family: var(--_sleetch-font-base);
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition: filter var(--_sleetch-transition-duration) var(--_sleetch-transition-timing);
}

.secondary:hover {
  filter: brightness(1.1);
}

.default:active,
.secondary:active {
  transform: scale(0.98);
}

@media (max-width: 768px) {
  .default,
  .secondary {
    padding: 6px 12px;
    font-size: 14px;
  }
}

:global(.sleetch-markdown) .default,
:global(.sleetch-markdown) .secondary {
  margin: 0 0 1em;
}
